# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres #change for production
POSTGRES_DB=sitebuilder

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@sitebuilder.com
PGADMIN_DEFAULT_PASSWORD=admin #change for production

# MinIO
MINIO_ROOT_USER=admin #change for production
MINIO_ROOT_PASSWORD=admin #change for production
# Application Secret
SECRET_KEY=mysecretkey #change for production

# OpenRouter API Key
OPENROUTER_KEY= #add your OpenRouter API key here